<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/loginStyle.css">
</head>
<body>
    <div id="loginContainer">
    <div id="loginContainerInner">
        <div id="loginTitle">Login</div>
        <form class="loginForm" autocomplete="off">
            <label for="fname">User name</label>
            <input type="text" id="fname" name="fname">
            <label for="password" id="passwordLabel">Password</label>
            <input type="text" id="password" name="Password">
            
            
          </form>

        <button>Login</button>
    </div>
    <div id="backgroundText">LOGIN</div>
    </div>
</body>
</html>